body{
	margin: 0px;
	padding: 0px;
	font-family: mulish;
	background:rgb(0,0,0,0.03);
	background-color: #fff;
	
}
.navbar ul{
	display: flex;
	width: 85%;
	padding: 0px 100px;
}
.navbar li{
	list-style-type: none;
	color: #fff;
}
.navbar ul li a{
	text-decoration: none;
}
.navbar_logo{
	font-size: 24px;
	flex: 1;
	padding: 30px 20px;

}
.navbar_toggle{
	display: none;
}
.navbar_links{
	padding: 35px 20px; 
}
.give{
	color: #0052FF;
}
.color_1{
	color: #fff;
}	
.active{
	color: #0052FF; 
}
.img_back{
	background: linear-gradient(90deg,rgba(0,0,0,0.3)0%,
		                        rgba(0,0,0,0.3)35%,
		                        rgba(0,0,0,0.3)100%),
	                            url(let.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	width: 100%;
	height: 900px;
	padding: 0px;
	margin-top: -17px;
}
.pic_word_margin{
	margin-top: 275px;
}.pic_word1{
	font-size: 44px;
	line-height: 55px;
	color: #fff;

}
.pic_word2{
	font-size: 80px;
	line-height: 100px;
	color: #fff;
	font-weight: bold;
}
.pic_word3{
	font-size: 22px;
	line-height: 28px;
	color: #fff;

}
.pic_word4{
	font-size: 16px;
	margin-top: 45px;
	color: #fff;
	border: none;
	width: 144px;
	background-color: #0052FF;
	padding: 15px 30px;
}
.pic_word4:hover{
	background:rgba(0,0,0,0.3); 
	cursor: pointer;

}
.what{
	display: flex;
	justify-content: space-between;
	margin: 100px 99px; 
}
.what_wedo{
	text-align: center;
	width: 363px;
	cursor: pointer;
	padding: 0px 30px 0px 30px ;
}
.what_wedoimage{
	width: 80px;
	height: 80px;

}
.what_wedo_word1{
	color: #0052FF; 
	font-size: 22px;

}
.what_wedo_word2{
	font-size: 16px;
	color: #5B5B5B;

}
.dep{
	background-color: #f9f9f9;
}
.dept_head{
	font-size: 30px;
	font-weight: bold;
	color: #202020;
	padding: 50px 0px 0px 0px;
}
.dept_word{
	color:#5B5B5B;
	font-size: 22px;
	padding: 0px 402px 0px 402px;

}
.depart{
	display: flex;
	margin: 50px 120px;
	flex-wrap: wrap;
	justify-content: space-around;
}
.deps{
	text-align: center;
	width: 237.2px;
	cursor: pointer;
	height: 226px;
	margin-bottom: 40px;
	background-color: #fff;
	color: #0052FF;
	border-radius: 10px;
}
.deps:hover{
	background-color: #0052ff;
	color: #fff;
}
.dept_image{
	padding-top: 53px;
	height: 80px;
	width: 80px;
}
.dept_title{
	
	font-size: 22px;
	line-height: 28px;

}

.service_head{
	font-weight: bold;
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.our_services{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0px 120px;

}
.services{
	border: 2px solid #0052FF;
	width: 240px;
	cursor: pointer;
	height: 470px;
	padding: 40px 60px 40px 40px;
	margin-bottom: 50px;
	border-radius: 10px;

}
.service_img{
	width: 
	
}
.service_title{
	color: #0052FF;
	font-size: 22px;
	margin-top: 24px;

}
.service_desc{
	font-size: 16px;
	color: rgba(58, 58, 58, 0.5);
	margin-top: 19px;

}
.service{
	color: rgba(58, 58, 58, 0.5);
	margin-top: 34px;
	font-size: 14px;
}
.faq_back{
	background-color: #f9f9f9;
}
.faq_head{
	font-weight: bold;
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-top: 50px;
}
.faq{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0px 100px 0px 100px;

}
.faqs1{
	width: 500px;



}
.faqs2{
}
.question{
	border: 2px solid #0052FF;
	background-color: #fff;
	color: #0052FF;
	font-size: 22px;
	padding: 26px 0px 26px 32px;
	margin-bottom: 16px;
	cursor: pointer;

}
.answer{
	color: rgba(58, 58, 58, 0.5);
	font-size: 16px;
	margin-left: 36px;
	margin-right: 50px;
	margin-bottom: 16px;


}
.faqs_pic{
	height: 590px;

}
.float_right{
	float: right;
	margin-right: 20px;
}
.faq_but{
	padding: 15px 30px;
	background-color: #0052FF;
	color: #fff;
	border: 2px solid #0052FF;
}
.faq_but:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.3);
	border: none;
}
.ourspec_head{
	font-weight: bold;
	font-size: 30px;
	margin-top: 50px;
	margin-bottom: 50px; 

}
.our_specs{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0px 100px 0px 100px;

}
.specs{


}
.spec_img{
	height: 265px;
	width: 350px;

}
.spec_name{
	margin-top: -20px;
	padding-top: 20px;
	text-align: center;
	font-size: 22px;

}
.spec_job{
	text-align: center;
	color: #0052FF;
	margin-bottom: 30px;

}
.spec_time{
	color: rgba(58, 58, 58, 0.5);
}
.spec_float{
	float: right;
	margin-left: 32px;

}
.let{
	border-left: 2px solid rgba(0, 82, 255, 0.5);
	border-right: 2px solid rgba(0, 82, 255, 0.5);
	border-bottom: 2px solid rgba(0, 82, 255, 0.5);
	border-radius: 0px 0px 10px 10px;
	padding: 0px 32px 20px 32px;
	line-height: 28px;
}
.blue_pic{
	background: linear-gradient(90deg,rgba(0,82,255,0.5)0%,
		                        rgba(0, 82, 255, 0.5)35%,
		                        rgba(0, 82, 255, 0.5)100%),
	                            url(bluepic.svg);
	background-repeat: no-repeat;
	background-size: cover;                            
	width: 100%;
	height: 505px;
	margin-top: 50px;
}
.blue{
	line-height: 50px;
	color: #fff;
	padding: 0px 300px;
}
.test_comment{
	font-family:Source Sans Pro;
}
.test_head{
	font-size: 30px;
	letter-spacing: 0.08em;
	padding-top: 50px;
}
.author{
 
}
.author_work{
	color: #0052FF;
}
.author_sty{
	font-family: Source Sans Pro;
	font-size: 20px;
	display: flex;
	justify-content: center;

}
.round_pic{
	padding-top: 30px;
}
.move{
	padding-top: 30px;
}

.form_1{
	width: 550px;
	height: 67.1px;
	font-size: 25px;
	border: 2px solid #0052FF;
	border-radius: 10px;
}
.message{
	width: 550px;
	height: 187.5px;
	font-size: 25px;
	border: 2px solid #0052FF;
	border-radius: 10px;
}
.label{
	position: relative;
	left: 10px;
	top: 25px;
	background-color: #fff;
	font-size: 20px;

}
.form_head{
	font-size: 30px;
	font-weight: bold;
	padding-left: 5px;
	margin-top: 50px;
}
.form_sect{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0px 100px;
}
.form_spacing{
	line-height: 45px;
}
.app_button{
	padding: 15px 30px 15px 30px;
	background-color: #0052FF;
	color: #fff;
	margin-left: 20px;
	margin-top: 70px;
	border: 2px solid #0052FF;
	border: none;
}
.app_button:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.3);
}
.location{
	height: 608px;
	width: 100%;
	margin-top: -10px;
}
.contact_head{
	font-size: 30px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 16px;

}
.contact_{
	font-size: 22px;
	margin-bottom: 50px;

}
.con{
	text-align: center;
}
.contacts{
	display: flex;
	justify-content: space-around;
	margin: 0px 120px 0px 120px;
}
.contact_title{
	font-size: 22px;
	margin-bottom: 8px;

}
.contact_icon{
	margin-bottom: 16px;
}
.contact_desc{
	font-size: 20px;
	color: rgba(58, 58, 58, 0.5);
}
.contact_blue{
	color: #0052FF;
}

.foot{
	display: flex;
	justify-content: space-around;
	background-color: #0052FF;
	
	color: #fff;
}
.foot_title{
	font-size: 30px;
	font-family: Montserrat;
	font-weight: bolder;
	color: #fff;
	padding: 47px 0px;

}
.pic_foot{
	margin: 0px 25px 0px 25px;
	width: 26px;
	height: 18px;
	padding: 60px 0px;
}
.pic_foot1{
	margin: -5.5px 25px 0px 25px;
	width: 26px;
	height: 30px;
	padding: 60px 0px;
}
.all_icon{
 display: flex;
}
.copyright{
	padding: 56px 0px 56px 120px;
	font-size: 15px;
	font-family:Montserrat;
	font-weight: lighter;
}
.footer{
	margin-top: 50px;
}
.pointer{
	cursor: pointer;
}